USERNAME='username'
PASSWORD='password'
BASE_URL='https://website.com'

# CDP endpoint of the remote headless Chromium this script drives. Must be a
# reachable host:port, not a reverse-proxied name.
BROWSER_ENDPOINT='http://192.168.178.161:3000'
