<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.chips</string>
	<key>Program</key>
	<!-- <key>ProgramArguments</key> -->
	<!-- <array> -->
		<!-- <string>echo</string>
		<string>-e</string>
		<string>$(date)</string>
		<string>>></string>
		<string>$PROJECTSFOLDER/chips-generator/launch.log</string>
		<string>&&</string> -->
		<!-- <string>sh</string> -->
		<!-- <string>-c</string> -->
  <string>$PROJECTSFOLDER/chips-generator/run.sh</string>
		<!-- <string>echo $(date) >> $PROJECTSFOLDER/chips-generator/launch.log && bash -x $PROJECTSFOLDER/chips-generator/run.sh</string> -->
		<!-- <string>$PROJECTSFOLDER/chips-generator/run.sh</string> -->
	<!-- </array> -->
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
  <dict>
		<key>Minute</key>
		<integer>1</integer>
	</dict>
	<!-- <array>
		<dict>
			<key>Weekday</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>6</integer>
		</dict>
	</array> -->
  <key>StandardOutPath</key>
  <string>$PROJECTSFOLDER/chips-generator/hello-output.txt</string>
  <key>StandardErrorPath</key>
  <string>$PROJECTSFOLDER/chips-generator/hello-errors.txt</string>
  <!-- <key>UserName</key>
	<string>user</string>
	<key>WorkingDirectory</key>
	<string>$PROJECTSFOLDER/chips-generator/</string> -->
</dict>
</plist>